@model HomeOfPandaEyes.StockLearning.Web.Models.StockFinancialReportContext


@{
    ViewBag.Title = Model.Stock.StockName;
    ViewBag.Description = "股票财报";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <div class="form-group">
                        <div class="col-md-4">
                            <input id="txtsearch" class="form-control" placeholder="" />
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="查询" class="btn btn-primary" id="btnsearch" style="width:100px" />
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" id="hidwebaddress" value="@Model.Stock.WebAddress"/>
                            <button type="button" id="btnviewdetail" class="btn btn-link pull-right">查看详细</button>
                        </div>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- BAR CHART -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            @*<h3 class="box-title">Bar Chart</h3>*@

                            @*<div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>*@
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" style="height:230px"></canvas>
                            </div>
                            <div>
                                <button type="button" id="btnquarter" class="btn bg-maroon btn-flat margin">按季度</button>
                                <button type="button" id="btnyear" class="btn bg-purple btn-flat margin">按年度</button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <div class="box-body">
                    <table id="stocks" class="table table-bordered table-striped text-sm">
                        <thead>
                            <tr>
                                <th>截止日期</th>
                                <th>每股收益(元)</th>
                                <th>每股收益(扣除)(元)</th>
                                <th>营业收入(亿元)</th>
                                <th>同比增长(%) </th>
                                <th>季度环比增长(%)</th>
                                <th>归属净利润(亿元)</th>
                                <th>同比增长(%)</th>
                                <th>季度环比增长(%)</th>
                                <th>每股净资产(元)</th>
                                <th>净资产收益率(%)</th>
                                <th>净利润(亿元)</th>
                                <th>净利率(%)</th>
                                <th>总资产周转率(次)</th>
                                <th>每股经营现金流量(元)</th>
                                <th>销售毛利率(%)</th>
                                <th width="60px">利润分配</th>
                                <th>股息率(%)</th>
                                <th>公告日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FinancialReports)
                            {
                                <tr>
                                    <td>@item.ReportDate.ToShortDateString()</td>
                                    <td>@Html.DisplayFor(modelItem => item.EPSJB)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EPSKCJB)</td>
                                    <td>@Math.Round(item.YS.Value / 100000000, 2)</td>
                                    <td class="classYSTZ">@Html.DisplayFor(modelItem => item.YSTZ)</td>
                                    <td>@Html.DisplayFor(modelItem => item.YSHZ)</td>
                                    <td>@Math.Round(item.SJL.Value / 100000000, 2)</td>
                                    <td class="classYSTZ">@Html.DisplayFor(modelItem => item.SJLTZ)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SJLHZ)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BPS)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ROEPJ)</td>
                                    <td >@Math.Round(item.SJL.Value / 100000000, 2)</td>
                                    <td class="classYYJLL">@Html.DisplayFor(modelItem => item.YYJLL)</td>
                                    <td >@Html.DisplayFor(modelItem => item.ZZCZZL)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MGXJJE)</td>
                                    <td class="classXSMLL">@Html.DisplayFor(modelItem => item.XSMLL)</td>
                                    @if (item.LRFP == "不分配不转增")
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.LRFP)</td>
                                    }
                                    <td class="classGXL">@Html.DisplayFor(modelItem => item.GXL)</td>
                                    <td>@item.NoticeDate.Value.ToShortDateString()</td>

                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                    <input type="hidden" id="hidreportdates" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Select(f=>f.ReportDate.ToShortDateString()))" />
                    <input type="hidden" id="hidYSTZ" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Select(f=>f.YSTZ))" />
                    <input type="hidden" id="hidSJLTZ" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Select(f=>f.SJLTZ))" />
                    <input type="hidden" id="hidROEPJ" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Select(f=>f.ROEPJ))" />
                                    
                    <input type="hidden" id="hidreportdatesyear" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Where(f=>f.ReportDate.Month==12).Select(f=>f.ReportDate.ToShortDateString()))" />
                    <input type="hidden" id="hidYSTZyear" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Where(f=>f.ReportDate.Month==12).Select(f=>f.YSTZ))" />
                    <input type="hidden" id="hidSJLTZyear" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Where(f=>f.ReportDate.Month==12).Select(f=>f.SJLTZ))" />
                    <input type="hidden" id="hidROEPJyear" value="@System.String.Join(",",Model.FinancialReports.OrderBy(f=>f.ReportDate).Where(f=>f.ReportDate.Month==12).Select(f=>f.ROEPJ))" />

                </div>
                <div class="box-body">
                    <span class="goodvalue">红色</span>&nbsp&nbsp
                    1) 收入同比增长>30% &nbsp&nbsp
                    2) 销售毛利率 > 50% &nbsp&nbsp
                    3) 净资产收益率 > 20% &nbsp&nbsp
                    4) 股息 > 4%
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- Left side column. contains the logo and sidebar -->
<style>
    .goodvalue {
        color: #ff6a00 !important;
        font-weight: bold !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#stocks').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false,
        });

        $(".classYSTZ") // 收入同比增长>30%
            .filter
            (
            function () {
                return $(this).text() > 30;
            }
            )
            .addClass("goodvalue");

        $(".classGXL") // 股息 > 4%
            .filter
            (
            function () {
                return $(this).text() >= 4;
            }
            )
            .addClass("goodvalue");
        $(".classXSMLL") // 销售毛利率 > 50%
            .filter
            (
            function () {
                return $(this).text() >= 50;
            }
            )
            .addClass("goodvalue");
        $(".classYYJLL") // 净利率 > 20%
            .filter
            (
            function () {
                return $(this).text() >= 20;
            }
            )
            .addClass("goodvalue");
    });
    $("#btnsearch").click(function () {
        window.location.href = "../../stock/search/" + $("#txtsearch").val();
    });
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnsearch").trigger("click");
        }
    });

    var config = {
        type: 'line',
        data: {
            labels: $("#hidreportdates").val().split(','),
            datasets: [{
                label: '营业收入增长率',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                data: $("#hidYSTZ").val().split(','),
                fill: false,
            }, {
                label: '净利率增长率',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.9)',
                fill: false,
                data: $("#hidSJLTZ").val().split(','),
                }, {
                    label: '净资产收益率',
                    backgroundColor: "rgba(255,0,205,1)",
                    borderColor: "rgba(255,0,205,1)",
                    fill: false,
                    data: $("#hidROEPJ").val().split(','),
                }]
        },
        options: {
            responsive: true,

            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },

        }
    };

    var barChartCanvas = $('#barChart').get(0).getContext('2d');
    var barChart = new Chart(barChartCanvas, config);

    $("#btnquarter").click(function () {
        config.data.labels = $("#hidreportdates").val().split(',');
        config.data.datasets[0].data = $("#hidYSTZ").val().split(',');
        config.data.datasets[1].data = $("#hidSJLTZ").val().split(',');
        config.data.datasets[2].data = $("#hidROEPJ").val().split(',');
        barChart.update();
    });

    $("#btnyear").click(function () {
        config.data.labels = $("#hidreportdatesyear").val().split(',');
        config.data.datasets[0].data = $("#hidYSTZyear").val().split(',');
        config.data.datasets[1].data = $("#hidSJLTZyear").val().split(',');
        config.data.datasets[2].data = $("#hidROEPJyear").val().split(',');
        barChart.update();
    });
    $("#btnviewdetail").click(function () {
        window.open($("#hidwebaddress").val());
        return false;
    });

</script>



